*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    border: none;
    background-color: #eaeaea;
    color: black;
    padding: 20px;
    font-size: 24px;
    margin-top: 10px;
}

button {
    border: none;
    background-color: tomato;
    font-size: 24px;
    padding: 16px;
    margin-left: 10px;
    height: 65px;
    color: #eaeaea;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

#pertanyaan {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6em;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}